---
layout: default
---
<div class="post">
  <header class="post-header">
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="row">
        <div class="col-sm-3">
          <img style="height: 200px;border-radius: 10px" src="/assets/img/RuonanLiu_home.jpg">
        </div>
          
        <div class="col-sm-9">
          <h1 class="post-title">Ruonan Liu</h1>
          <p class="desc"></p>
          <p> 
            Associate Professor
            <br>Office: Room 530, Building 2, School of Electronic Information and Electrical Engineering, Shanghai Jiao Tong University
            <br>Email: <a href="mailto:ruonan.liu@sjtu.edu.cn" target="_blank">ruonan.liu@sjtu.edu.cn</a>
          </p>
          <div class="social">
            <div class="contact-icons">{% include social.liquid %}</div>
          </div> 
        </div>
      </div>

      <div class="clearfix">
        <p>
          Hi all, I am Ruonan Liu, currently a tenure-track associate professor in Department of Automation, Shanghai Jiao Tong University. Previously, I was a postdoctoral researcher at School of Computer Science, Carnegie Mellon University and the Alexander von Humboldt Fellow with the University of Duisburg-Essen, Duisburg, Germany. Before that, I received the B.S., M.S., and Ph.D. degrees from Xi'an Jiaotong University, Xi'an, China, in 2013, 2015, and 2019, respectively. 
        </p>

        <p>
           <strong>My research focuses on Machine learning, Vision-language navigation (VLN) and Industrial Cyber-Physical Systems (ICPS).</strong> Now I am serving as the Special Session Chair for the 23nd IEEE International Conference on Industrial Informatics (INDIN 2025), the Leading Guest Editor/ Associate Editor for three journals: IEEE Transactions on Industrial Cyber-Physical Systems, Sustainable Energy Technologies and Assessments, Frontiers in Artificial Intelligence. And I am the Technical Committee Member of IEEE Industrial Electronics Society.
        </p>

        <div class="alert alert-info">
          <b>
            <font color="blue">
              Call for undergraduate/master/Ph.D. students and PostDocs! Interested parties please contact me: ruonan.liu@sjtu.edu.cn.
            </font>
          </b>
        </div>
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <h2 style="margin-bottom:20px">Research</h2>

    <!-- Selected video -->
    {% if page.selected_video %}
      <h3>Vision-and-Language Navigation</h3>
      <h2>
      <div style="text-align: center;">
        <video width="80%" controls autoplay loop>
          <source src="assets/video/vln_demo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      </h2>
    {% endif %}

    <!-- Selected image -->
    {% if page.selected_image %}
      <h3>Industrial Cyber-Physical Systems</h3>
      <h2>
      <div style="text-align: center;">
        <img src="assets/img/ICPS.jpg" alt="Image not found." width="80%">
      </div>
      </h2>
    {% endif %}

    <!-- Selected honors -->
    <h2>Honors</h2>
    <ul>
      <li>
        <span style="color:blue; white-space:nowrap;">Runner-up Paper Award</span>, IJCAI-W 2024
      </li>
      <li>
        <span style="color:blue; white-space:nowrap;">Best Paper Award Finalist</span>, IEEE ICARM 2024
      </li>
      <li>
        <span style="color:red; white-space:nowrap;">Alexander von Humboldt Fellow</span>, 2022
      </li>
      <li>
        <span style="color:red; white-space:nowrap;">the World’s Top 2% Scientists</span>, 2021, 2022, 2023, 2024
      </li>
      <li>
        <span style="color:red; white-space:nowrap;">the Young Elite Scientist</span> Sponsorship Program, 2022
      </li>
      <li>
        <span style="color:blue; white-space:nowrap;">IEEE Outstanding Paper Award</span> for the IEEE TII (IF 11.7), 2021
      </li>
      <li>
        Media Report in IEEE IES News Homepage, 2021
      </li>
      <li>
        Graduate with Honor of Xi’an Jiaotong University, 2019
      </li>
    </ul>

    <!-- Selected service -->
    <h2>Service</h2>
    <ul>
      <li>
        Special Sessions Chair for the 23nd IEEE International Conference on Industrial Informatics (INDIN 2025)
      </li>
      <li>
        Leading Guest Editor or Associate Editor for IEEE Transactions on Industrial Cyber-Physical Systems (IEEE TICPS), Sustainable Energy Technologies and Assessments (SETA)
      </li>
      <li>
        Session Chair of 31st IEEE International Symposium on Industrial Electronics (ISIE 2022)
      </li>
      <li>
        Session Chair of 5th and 6th Asian Conference on Artificial Intelligence Technology (ACAIT 2021 and ACAIT 2022)
      </li>
      <li>
        Technical Committee Member of IEEE Industrial Electronics Society on Data-Driven Control and Monitoring
      </li>
    </ul>

    <!-- Selected teaching -->
    <h2>Teaching</h2>
    <ul>
      <li>
        <span style="color:blue; white-space:nowrap;">Machine Learning</span>, Tianjin University, Spring 2023, Fall and Spring 2022, Fall 2021
      </li>
    </ul>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Recent Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
